h1{
    color: white;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    
}


body{
    background: url(https://www.xtrafondos.com/descargar.php?id=3424&resolucion=1920x1080) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fondoTexto{ background-color:rgb(254, 255, 255, .8)
             } 

    
img{
    display:block;
    width: 350px; height: 370px;
    border-radius: 100%;
    margin: auto;
}

.subtitulo{
    text-align: center;
};

h3{
    background: white;
}

.navbar-nav {
    
    float: left;
    margin: 0;
    left: 50%;
    transform: translatex(-50%);
    position: relative;}


    #imagenTarjeta{
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-bottom: 10px; /* Added */
    }



footer{
    background-color: white;
    margin-top: 60px;
}

#experiencia{
    font-size: 40px;
    text-decoration-line: underline;
}

#expLab{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

#datPer{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

#datosPersonales{
    text-align: center;
}

#formacionA{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

#fAcademica{
    text-align: center;
}