h1{
    font-size: medium;
    color: rgb(10, 2, 2);
    text-align: center;

}


body{
    background: url(https://www.xtrafondos.com/descargar.php?id=3424&resolucion=1920x1080) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fondoTexto{ background-color:rgba(225, 255, 255, .8)
             } 

    
img{
    display:block;
    margin:auto;
    width: 400px; height: 500px;


}

.subtitulo{
    text-align: center;
};

